* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --fondo: #e4e9f7;
    --activo: #934174;
    --purpura: #9a76a7d3;
    --borde: #c5afc5;
    --primary-color-light: #F6F5FF;
    --proyectos: #DDD;
    --base-morada: #34163f;
    --text-color: #383536;
    --color-2: #84a1bc;
    --color-3: #4c4f85;
    --color-4: #e4e9f7;
}

body {
    height: 100vh;
}

h2,
h1,
h3,
p {
    color: #fff;
    font-size: 20px;
}

img {
    height: 100%;
    width: 100%;
}

i {
    font-size: 2vw;
    color: #34163f;
    background-color: #d8b4a7;
    border-radius: 4px;
    padding: 3px;
}

button {
    cursor: pointer;
    background-color: var(--color-4);
    border-radius: 10px;
    min-width: 5vw;
    height: 5vh;
    border: 1px solid var(--borde);
    transition: 0.5s;
    z-index: 4
}

video {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*////////////////////       sessionArriba     ///////////////////
///////////////////////////////////////////////////////////////// */

.sessionArriba {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 1s;
}

.iconosDeMenu {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 40vw;
    height: 12vh;
    margin: 1rem;
    align-items: center;
    justify-items: center;
    background-color: var(--proyectos);
    transition: 1s;
    border-radius: 10px;
    box-shadow: 0px 17px 15px 0px rgba(0, 0, 0, 0.54);
}

.menuIteam.activo {
    background-color: #934174;
}

body.info .iconosDeMenu,
body.proyecto .iconosDeMenu {
    min-height: 11vh;
    width: 27vw;
    background-color: transparent;
    margin: 0;
}

.sessionArriba .perfil {
    position: absolute;
    height: 9vh;
    width: 6vw;
    border-radius: 50%;
    left: 2rem;
    top: 1rem;
}

.cajonDeIconos {
    background-color: var(--primary-color-light);
    transition: 0.5s;
    width: 98vw;
    height: 68vh;
    border-radius: 10px;
    box-shadow: 5px 4px 11px 0px rgba(0, 0, 0, 0.58);
}

.carpetaDeslizantes {
    background-color: #34163f;
    border-radius: 10px;
    overflow: hidden;
    margin: 1rem;
    transition: 0.5s;
    height: 94%;
    font-size: 25px;
    padding: 1rem;
}

/* modificar la clase */

body.info .sessionArriba,
body.proyecto .sessionArriba {
    height: 11%;
    justify-content: space-between;
}

body.arriba .sessionArriba {
    height: 84vh;
}

body.info .carpetaDeslizantes,
body.proyecto .carpetaDeslizantes {
    display: none;
}

body.info .cajonDeIconos,
body.proyecto .cajonDeIconos {
    width: 8vw;
    height: 1vh;
    margin: 0;
}

/*////////////////////               seccionBajo                 ///////////////////
///////////////////////////////////////////////////////////////////////////////////*/

.seccionBajo {
    position: relative;
    display: flex;
    justify-content: space-around;
    background-position: center;
    align-items: center;
    width: 100vw;
    transition: 0.5s;
}

/* modificar la clase */

body.abajo .seccionBajo {
    height: 60%;
}

body.arriba .seccionBajo {
    height: 15%;
}

body.info .seccionBajo,
body.proyecto .seccionBajo {
    height: 89%;
}


/*////////////////////              informacion                   ///////////////////
///////////////////////////////////////////////////////////////////////////////////*/

.locosJBR {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 9vw;
    padding: 1rem;
    background-color: var(--proyectos);
    border-radius: 10px;
    transition: 1s;
    box-shadow: 5px 16px 21px -3px rgba(0, 0, 0, 0.58);
}

.frontal.activo {
    background-color: var(--activo);
    height: 100%;
}

.cajonDeInformacion {
    height: 86vh;
    width: 54vw;
    transition: 1s;
    padding: 2rem;
    background-color: var(--base-morada);
    border-radius: 10px;
}

/* modificar la clase */
body.arriba .locosJBR {
    width: 25vw;
    flex-direction: row;
    background: transparent;
}

body.proyecto .locosJBR {
    background: transparent;
    height: 60%;
    width: 6vw;
}

body.proyecto .cajonDeInformacion,
body.arriba .cajonDeInformacion {
    width: 5vw;
    height: 12%;
    border-radius: 30px;
    margin: 10px;
}

body.proyecto .contentInf,
body.arriba .contentInf {
    display: none;
}

body.info .informacion {
    margin: 0 5% 0 1%;
    max-width: 892px;
}


/*////////////////////               cajasDeProyectos                ///////////////////
///////////////////////////////////////////////////////////////////////////////////*/


.cajasDeProyectos {
    background-color: var(--proyectos);
    padding: 1rem;
    transition: 1s;
    border-radius: 10px;
    box-shadow: 5px 16px 21px -3px rgba(0, 0, 0, 0.58);
}

.cajasDeProyectos h1 {
    font-size: 3vw;
}

.numerosDePaginas {
    display: flex;
    justify-content: center;
}


.numerosDePaginas button {
    margin: 0;
    height: 6vh;
    min-width: 4vw;
}

.numerosDePaginas .indicador.activo {
    background-color: var(--activo);
}

.proyectos {
    display: grid;
    grid-template-columns: repeat(3, 32.9%);
    grid-auto-rows: 35vh;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    transition: 0.5s;
}

.contenedores {
    padding: 5px;
    background-color: #a773ba;
    height: 33vh;
    border-radius: 10px;
    transition: 1s;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 5px;
    overflow: hidden;
}

.contenedores img {
    border-radius: 10px;
    transition: opacity 1s, transform 1s;
}

.proyectos-informacion {
    position: relative;
    top: -257px;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 30px;
    font-size: 1em;
    transition: opacity 1s, transform 1s;
    overflow: hidden;
    cursor: pointer;
}

.contenedores h2,
.contenedores p,
.contenedores i {
    transition: opacity 1s, transform 1s;
    background: rgba(255, 255, 255, 0.8);
    color: #2f3238;
    margin-bottom: 22px;
}

.contenedores h2,
.contenedores p {
    transition-delay: 0.10s;
    padding: 0.5em 0.5em;
    transform: translateX(-120%);
    border-radius: 5px;
}

.contenedores i {
    transition-delay: 0.20s;
    margin-left: 40%;
    opacity: 0;
    margin-bottom: 10px;
}

.contenedores p {
    font-weight: 500;
    transition-delay: 0.30s;
}


/* modificar con hover */

.contenedores:hover h2,
.contenedores:hover p,
.contenedores:hover i {
    transform: translateX(0);
    opacity: 1;
}

.contenedores:hover img {
    filter: grayscale(70%) blur(1px);
    transform: scale(1.5);
}


/* modificar la clase */

body.proyecto .cajasDeProyectos {
    width: 82vw;
    height: 85vh;
}

body.info .cajasDeProyectos,
body.arriba .cajasDeProyectos {
    height: 15vh;
    background: transparent;
    width: 25vw;
}

body.info .proyectos,
body.arriba .proyectos {
    display: none;
}