* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --fondo: #e4e9f7;
    --activo: #934174;
    --purpura: #9a76a7d3;
    --borde: #c5afc5;
    --primary-color-light: #F6F5FF;
    --proyectos: #DDD;
    --base-morada: #34163f;
    ;
    --text-color: #383536;
    --color-2: #84a1bc;
    --color-3: #4c4f85;
    --color-4: #e4e9f7;
}

body {
    height: 100vh;
    overflow: hidden;
}

h2 {
    color: #fff;
}

p {
    color: #fff;
}

i {
    font-size: 30px;
    color: #34163f;
    background-color: #d8b4a7;
    border-radius: 4px;
    padding: 6px;
}

img {
    height: 100%;
    width: 100%;
}

video {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}



/* ///////////////primeraParte/////////// */

.parteSuperior {
    height: 11%;
    display: flex;
    justify-content: space-around;
    background-color: transparent;
    z-index: 1;
    position: relative;

}

.perfil {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 24%;
    font-size: 1rem;
}

.perfil img {
    width: auto;
    height: 90%;
    margin-right: 25px;
    border-radius: 20%;
}

.listas {
    display: flex;
    align-items: center;
    width: 64%;
    justify-content: space-between;
}

.lista {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 31%;
    height: 84%;
    color: #fff;
    font-size: larger;
    background-color: #d8b4a7;
    border-radius: 10px;
    cursor: pointer;
    border: 1px solid var(--borde);
    font-size: 30px;
}

.lista.activo {
    background-color: #934174;
}




/*////////////////////parteInferior/////////////////// */


.parteInferior {
    justify-content: space-between;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 89%;
    width: 100%;
}

/*////////////////////       sessionArriba     ///////////////////
///////////////////////////////////////////////////////////////// */

.sessionArriba {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    transition: 1s;
}

.iconosDeMenu {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 60%;
    height: 17%;
    margin: 1%;
    align-items: center;
    justify-items: center;
    background-color: var(--proyectos);
    transition: 1s;
    opacity: 1;
    z-index: 5;
    border-radius: 10px;
    box-shadow: 0px 17px 15px 0px rgba(0, 0, 0, 0.54);
}

.menuIteam {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: var(--color-4);
    border-radius: 10px;
    width: 104px;
    height: 88px;
    border: 1px solid var(--borde);
    transition: 0.5s;
    z-index: 4;
}

.menuIteam.activo {
    background-color: #934174;
}

.informacionDeIconos {
    display: flex;
    flex-direction: column;
    width: 93%;
    height: 83%;
    transition: 0.5s;
    background-color: var(--proyectos);
    margin: 1% auto;
    padding: 0% 1%;
    overflow: hidden;
    z-index: 5;
    border-radius: 10px;
    box-shadow: 5px 16px 21px -3px rgba(0, 0, 0, 0.58);
}

.carpetaDeslizantes {
    display: flex;
    justify-content: space-between;
    background-color: #34163f;
    border-radius: 10px;
    margin: 40px auto;
    transition: 0.5s;
    height: 82%;
}

.descricion {
    position: relative;
    width: 60%;
    font-size: 25px;
    padding: 30px;
}

.descricion::after {
    position: absolute;
    content: '';
    top: -1px;
    right: 0;
    height: 22px;
    width: 30%;
    background-color: var(--proyectos);
}

.descricion::before {
    position: absolute;
    content: '';
    bottom: -1px;
    right: 0;
    height: 22px;
    width: 64%;
    background-color: var(--proyectos);
}


.descricion h2 {
    margin-bottom: 50px;
}


.descricion h2::after {
    position: absolute;
    content: '';
    top: 110px;
    left: 9%;
    height: 1px;
    width: 80%;
    background-color: var(--proyectos);
}

.foto {
    width: 40%;

}

/* modificar la clase */

.parteInferior.info .sessionArriba,
.parteInferior.proyecto .sessionArriba {
    height: 13%;
    justify-content: space-between;
}

.parteInferior.arriba .sessionArriba {
    height: 75%;
}

.parteInferior.info .carpetaDeslizantes,
.parteInferior.proyecto .carpetaDeslizantes {
    display: none;
}

.parteInferior.info .informacionDeIconos,
.parteInferior.proyecto .informacionDeIconos {
    height: 5%;
    width: 84%;
    margin: 0;
    padding: 0;
}

.parteInferior.info .iconosDeMenu,
.parteInferior.proyecto .iconosDeMenu {
    height: 95%;
    background-color: transparent;
    margin: 0;
    width: 85%;
}

/*////////////////////               seccionBajo                 ///////////////////
///////////////////////////////////////////////////////////////////////////////////*/

.seccionBajo {
    position: relative;
    display: flex;
    justify-content: space-between;
    background-position: center;
    align-items: center;
    width: 100%;
    padding: 1% 2%;
    transition: 1s;
}

/* modificar la clase */

.parteInferior.abajo .seccionBajo {
    height: 60%;
}

.parteInferior.arriba .seccionBajo {
    height: 25%;
}

.parteInferior.info .seccionBajo,
.parteInferior.proyecto .seccionBajo {
    height: 87%;
}



/*////////////////////               locosJBR                   ///////////////////
///////////////////////////////////////////////////////////////////////////////////*/

.locosJBR {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 8%;
    background-color: var(--proyectos);
    border-radius: 10px;
    transition: 1s;
    padding: 15px;
    box-shadow: 5px 16px 21px -3px rgba(0, 0, 0, 0.58);
    -webkit-box-shadow: 5px 16px 21px -3px rgba(0, 0, 0, 0.58);
    -moz-box-shadow: 5px 16px 21px -3px rgba(0, 0, 0, 0.58);
    z-index: 1;
}

.frontal {
    width: 83%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-4);
    border-radius: 10px;
    transition: 1s;
    cursor: pointer;
    border: solid 1px var(--borde);
}

.frontal.activo {
    background-color: var(--activo);
    height: 58%;
}

/* modificar la clase */

.parteInferior.arriba .locosJBR {
    width: 30%;
    flex-direction: row;
    background: transparent;
}

.parteInferior.proyecto .locosJBR {
    background: transparent;
    height: 60%;
}

.parteInferior.arriba .frontal {
    height: 58%;
    margin: 10px;
}



/*////////////////////               informacion                ///////////////////
///////////////////////////////////////////////////////////////////////////////////*/

.informacion {
    border-radius: 10px;
    height: 100%;
    background-color: #ddddddb1;
    padding: 30px 65px 0;
    box-shadow: 5px 16px 21px -3px rgba(0, 0, 0, 0.58);
    -webkit-box-shadow: 5px 16px 21px -3px rgba(0, 0, 0, 0.58);
    -moz-box-shadow: 5px 16px 21px -3px rgba(0, 0, 0, 0.58);
    z-index: 2;
    overflow: hidden;
    transition: 1s;
}


.contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 95%;
    margin-bottom: 60px;
    transition: 1s;
    opacity: 1;
    background-color: var(--base-morada);
    border-radius: 10px;
    padding: 0 5%;
}

.contenedor h2 {
    margin-bottom: 20px;
    font-size: 60px;
    width: 50%;
}

.contenedor p {
    font-size: 20px;
}



.cont2 {
    width: 80%;
    height: 40%;
}

.cont2 img {
    border-radius: 10px;
}

/* modificar la clase */

.parteInferior.proyecto .informacion {
    width: 7%;
    height: 12%;
    border-radius: 30px;
    margin: 10px;
}

.parteInferior.proyecto .contenedor,
.parteInferior.arriba .contenedor {
    display: none;
}

.parteInferior.arriba .informacion {
    width: 10%;
    height: 60%;
    border-radius: 30px;
}

.parteInferior.info .informacion {
    margin: 0 5% 0 1%;
    max-width: 892px;
}


/*////////////////////               cajasDeProyectos                ///////////////////
///////////////////////////////////////////////////////////////////////////////////*/


.cajasDeProyectos {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: var(--proyectos);
    padding: 3% 1%;
    overflow: hidden;
    align-items: center;
    transition: 1s;
    border-radius: 10px;
    box-shadow: 5px 16px 21px -3px rgba(0, 0, 0, 0.58);
    -webkit-box-shadow: 5px 16px 21px -3px rgba(0, 0, 0, 0.58);
    -moz-box-shadow: 5px 16px 21px -3px rgba(0, 0, 0, 0.58);
    z-index: 3;
}

.numerosDePaginas {
    position: absolute;
    bottom: 1px;
    right: 38%;
    cursor: pointer;
    width: 22%;
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 10;
}

.numeros {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 29%;
    height: 100%;
    background-color: var(--fondo);
    border-radius: 10px;
    border: 1px solid var(--borde);
}

.numeros.activo {
    background-color: var(--activo);
}

.proyectos {
    transform: translate(0%, 0%);
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 30vh 30vh;
    align-items: center;
    height: 100%;
    border-radius: 10px;
    transition: 1s;
    margin-bottom: 90px;
}

.contenedores {
    position: relative;
    padding: 5px;
    background-color: #a773ba;
    height: 90%;
    width: 97%;
    border-radius: 10px;
    transition: 1s;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 5px;
    overflow: hidden;
}

.contenedores img {
    border-radius: 10px;
    width: 100%;
    height: 100%;
    transition: opacity 1s, transform 1s;
}

.proyectos-informacion {
    position: relative;
    top: -257px;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 30px;
    font-size: 1em;
    transition: opacity 1s, transform 1s;
    overflow: hidden;
    cursor: pointer;
}

.contenedores h2,
.contenedores p,
.contenedores i {
    transition: opacity 1s, transform 1s;
    background: rgba(255, 255, 255, 0.8);
    color: #2f3238;
    margin-bottom: 22px;
}

.contenedores h2,
.contenedores p {
    transition-delay: 0.10s;
    padding: 0.5em 0.5em;
    transform: translateX(-120%);
}

.contenedores i {
    transition-delay: 0.20s;
    margin-left: 45%;
    opacity: 0;
    margin-bottom: 10px;
}

.contenedores p {
    font-weight: 500;
    transition-delay: 0.30s;
}


/* modificar con hover */


.contenedores:hover h2,
.contenedores:hover p,
.contenedores:hover i {
    transform: translateX(0);
    opacity: 1;
}

.contenedores:hover img {
    filter: grayscale(70%) blur(1px);
    transform: scale(1.5);
}



/* modificar la clase */


.parteInferior.proyecto .cajasDeProyectos {
    width: 80%;
    height: 100%;
}

.parteInferior.info .numerosDePaginas,
.parteInferior.arriba .numerosDePaginas {
    position: initial;
    width: 61%;
}

.parteInferior.info .cajasDeProyectos,
.parteInferior.arriba .cajasDeProyectos {
    width: 25%;
    height: 30%;
    background: transparent;
    justify-content: center;
    padding: 1% 1%;
}

.parteInferior.arriba .cajasDeProyectos {
    height: 100%;
}


.parteInferior.info .proyectos,
.parteInferior.arriba .proyectos {
    display: none;
}

.parteInferior.info .numerosDePaginas {
    width: 100%;
    height: 100%;

}

.parteInferior.info .numeros,
.parteInferior.arriba .numeros {
    width: 30%;
    height: 100%;
}